/* ************** */
/* HEADER */
/* ************** */
.header {
  background-color: #eef1f6;
}

.header-container {
  max-width: 90vw;
  display: flex;
  align-items: center;
  padding-block-start: 4.4rem;
  padding-block-end: 12.8rem;
  margin: auto;
}

.header-logo {
  margin-inline-end: 8rem;
}

.header-nav {
  display: flex;
  gap: 3.2rem;
  margin-inline-end: auto;
}

.nav-icon {
  margin-inline-start: 1.2rem;
  font-size: 1.2rem;
}

.header-nav li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0e1133;
  cursor: pointer;
}

.cta--btn-1:link,
.cta--btn-1:visited,
.cta--btn-1:hover,
.cta--btn-1:active {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #ff3e66;
  padding-block: 1.6rem;
  padding-inline: 3.2rem;
  border-radius: 100px;
}

/* ************** */
/* 1-HERO SECTION */
/* ************** */
.hero-section {
  background-color: #eef1f6;
  position: relative;
}

.hero-text-cell {
  padding-block: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hero-heading {
  font-size: 6.2rem;
  font-weight: 400;
  color: #0e1133;
}

.hero-text {
  color: #0e1133;
  font-size: 1.6rem;
}

.hero-img {
  align-self: end;
  max-width: 100%;
  display: block;
}

.hero-img-box {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 40%;
}

.cta {
  display: flex;
  justify-content: space-between;
  border-left: 2px solid #ff3e66;
  border-radius: 100px;
  padding: 2rem;
  background-color: white;
  max-width: 70%;
  box-shadow: 0px 3px 20px 0px rgba(28, 28, 28, 0.3);
}

.cta-input {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  min-width: 80%;
  border: none;
}

.cta-input:focus {
  outline: none;
}

.cta-mail-icon {
  color: #888;
  width: 2.4rem;
  height: 2.4rem;
}

.cta-arrow-icon {
  color: #ff3e66;
  width: 2.4rem;
  height: 2.4rem;
  cursor: pointer;
}

/* FEEDBACK PART */
.feedback {
  display: flex;
}

.feedback-faces {
}

.feedback-face {
  border-radius: 100%;
  border: 0.3rem solid #fff;
  width: 4.8rem;
  margin-inline-end: -1.8rem;
}

.feedback-face:last-child {
  margin-inline-end: 2.4rem;
}

.feedback-info {
  display: flex;
  flex-direction: column;
}

.feedback-number {
  font-size: 2.4rem;
  font-weight: 900;
  color: #0e1133;
}

.feedback-text {
  font-size: 1.2rem;
  font-weight: 500;
  color: #515156;
}

/* ************** */
/* 2-features SECTION  */
/* ************** */
.features-section {
  /* background-color: #bdd2f5; */
}

.subheading-container {
  justify-content: space-between;
  align-items: baseline;
}

.view-all--btn:link,
.view-all--btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #222;
  border: 0.3rem solid #eef1f6;
  border-radius: 100px;
  padding-block: 1.2rem;
  padding-inline: 2.2rem;
}

.feature-gap {
  gap: 3.2rem;
}

.feature {
  padding: 4.8rem;
  border: 1px solid #eef1f6;
  border-radius: 9px;
  /* background-color: gray; */
}

.feature-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  margin-block-end: 2.4rem;
  padding: 1.4rem;
  border-radius: 50%;
}

.feature-heading {
  font-size: 1.6rem;
  font-weight: 700;
  /* margin-bottom: 1.2rem; */
}

.feature-text {
  font-size: 1.6rem;
  color: #555;
  margin-block-end: 3.2rem;
}

.more--btn {
  text-decoration: none;
  color: #555;
  font-size: 1.4rem;
  font-weight: 500;
}

.f-icon-1 {
  background-color: #2facfc;
}
.f-icon-2 {
  background-color: #ea4d89;
}
.f-icon-3 {
  background-color: #3679ff;
}
.f-icon-4 {
  background-color: #f67842;
}
.f-icon-5 {
  background-color: #6b88f7;
}
.f-icon-6 {
  background-color: #3bb094;
}

/* markting-card */
.markting-card {
  background-color: #eef1f6;
  padding: 6.4rem;
  max-height: 44rem;
  margin-block-start: 9.6rem;
  border-radius: 9px;
  overflow: hidden;
}

.marketing-img {
  max-width: 100%;
  transform: translateY(-7rem);
}

.marketing-text-box {
}

.marketing-check {
  /* BOTH WAYS ARE WORKING */
  /* This is a way */
  /* display: grid;
  grid-template-columns: 0fr 1fr;
  column-gap: 2rem; */

  /* And This is another way */
  display: flex;
  gap: 2rem;
}

.checkmark-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  color: #eef1f6;
  background-color: #30c269;
  /* margin-right: 2rem; */
  border-radius: 50%;
}

.marketing-check-heading {
  color: #0e1133;
  font-size: 2.2rem;
  font-weight: 500;
  /* margin-bottom: 1.2rem; */
}

.marketing-check-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  /* margin-bottom: 1.2rem; */
}

/* **************** */
/* 3-MORE FEATURES SECTION */
/* **************** */
.more-features-section {
  background-color: #0e1133;
}

.mr-features-heading-box {
  text-align: center;
  margin-block-end: 6.4rem;
}

.mr-features-heading {
  font-size: 3.6rem;
  font-weight: 900;
  color: #fff;
}

.features-subheading {
  font-size: 1.6rem;
  color: #fff;
}

.feature-text {
  color: #9294a3;
  font-size: 1.4rem;
  font-weight: 500;
  margin-block-end: 0;
}

.features-container {
  align-items: center;
  justify-content: center;
}

.feature-box {
  gap: 1.1rem;
  border: 1px solid #202234;
  border-radius: 9px;
  padding-block: 2.4rem;
  padding-inline: 3.6rem;
}

.mr-f-icon {
  border-radius: 50%;
  border: 0.5rem solid;
  width: 1.8rem;
  height: 1.8rem;
}

.mr-feature-icon-1 {
  color: #ff3e66;
  border-color: #2a182d;
}

.mr-feature-icon-2 {
  color: #2eacfc;
  border-color: #15233d;
}

.mr-feature-icon-3 {
  color: #33c956;
  border-color: #15262c;
}

.mr-feature-heading {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.features-img {
  justify-self: center;
  max-width: 80%;
}

/* **************** */
/* 4-MORE FEATURES SECTION */
/* **************** */
.how-section {
}

.how-heading-box {
}

.counter-part {
  justify-items: center;
}

.counter-box {
  display: grid;
  justify-items: center;
  padding: 4.8rem;
  border-radius: 9px;
  box-shadow: 0px 14px 20px 0px rgba(28, 28, 28, 0.12);
}

.counter-icon {
}

.counter {
  font-size: 3rem;
  color: #0f1234;
}

.counter-num {
  font-weight: 700;
}

.counter-detail {
  font-size: 1.4rem;
  font-weight: 500;
  color: #525258;
}

.learn-how-visuals {
}

.video {
  display: flex;
  justify-content: space-between;
}

.video-thumb {
}

.video-description {
  grid-column: 1 / 3;
  margin-inline-start: 8rem;
}

.video-heading {
  font-size: 3rem;
  font-weight: 700;
  color: #0f1234;
  margin-inline-end: auto;
}

p.video-subeading {
  font-size: 1.6rem;
}

.learn-arrows {
}

.arrow-btn {
  display: flex;
  background-color: transparent;
  color: #555;
  border: 2px solid #eef1f6;
  border-radius: 50%;
  padding: 1.2rem;
  cursor: pointer;
}

.learn-arrow-icon {
  width: 2rem;
  height: 2rem;
}

.cta--btn-2:link,
.cta--btn-2:visited,
.cta--btn-2:hover,
.cta--btn-2:active {
  display: inline-block;
  color: #0f1234;
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  background-color: background;
  padding-block: 1.4rem;
  padding-inline: 3rem;
  border: 2px solid #eef1f6;
  border-radius: 100px;
}

/* **************** */
/* 5-DOWNLOAD SECTION */
/* **************** */
.download-section {
  background-color: #eef1f6;
}

.download-btns {
  display: flex;
  gap: 2.4rem;
}

.download-btn:link,
.download-btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 500;
}

.download-icon {
  width: 3.6rem;
  height: 3.6rem;
}

.download-btn-text {
  font-size: 1.2rem;
  font-weight: 600;
}

.op {
  font-size: 2rem;
  font-weight: 700;
}

.btn {
  display: inline-flex;
  gap: 1.2rem;
  padding-block: 1.4rem;
  padding-inline: 3rem;
  border-radius: 15px;
  border: 2px solid #0e1133;
}

.ios-btn {
  color: #eef1f6;
  background-color: #0f1234;
}

.android-btn {
  color: #0f1234;
  background-color: #fff;
}

/* **************** */
/* 5-PRICING SECTION */
/* **************** */
.Pricing-section {
}

/* PLAN TYPE -MONTHLY or YEARLY- */
.plan-type {
  display: flex;
  justify-content: center;
  margin-block-end: 4rem;
}

.plan-type > ul {
  list-style: none;
  display: flex;
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  border: 3px solid #eef1f6;
  /* box-shadow: 0 0 0 3px #eef1f6; */
  border-radius: 22px;
  gap: 1rem;
  padding-block: 0.2rem;
  padding-inline: 0.2rem;
}

.type {
  padding-block: 0.7rem;
  padding-inline: 2rem;
  border-radius: inherit;
  cursor: pointer;
}

.type:hover,
.type:focus {
  background: #ff3e66;
  color: #fff;
}

/* I was trying to make the somethimg like the click in JS but with CSS */
/* .type:focus .card {
  display: block;
} */

/* this is a class can be add and removed by the JS */
/* but I used the method above because I do NOT know JS */
/* .active {
  background: #ff3e66;
  color: #fff;
} */

/* CARDS PART */
.pricing-plans {
}

.card-2::before {
  content: "Most Popular";
  background-color: #2a6df5;
  font-size: 1.4rem;
  font-weight: 500;
  color: #fff;
  border-radius: 50px;
  padding-inline: 2rem;
  padding-inline-end: 4rem;
  padding-block: 0.5rem;
  position: absolute;
  right: -2rem;
  top: 2rem;
}

.card {
  /* background-color: green; */
  position: relative;
  padding-block: 4.8rem;
  padding-inline: 4.4rem;
  border: 2px solid #eef1f6;
  border-radius: 9px;
  transition: all 0.4s;
  overflow: hidden;
}
/* I was trying to make the somethimg like the click in JS but with CSS */
/* 
.type:focus,
.type:hover .card {
  display: block;
} */

.card:hover {
  box-shadow: 0px 14px 20px 0px rgb(28 28 28 / 12%);
  border-top: 0.3rem solid #ff3e66;
  padding-block-end: 4.7rem;
}

.card:hover .plan--btn {
  background-color: #ff3e66;
  color: #fff;
  border: 2px solid #ff3e66;
}

.card-heading {
  font-size: 2rem;
  color: #0f1234;
}

.price-box {
  display: flex;
  gap: 0.5rem;
}

.dollar-sign {
  font-size: 2.4rem;
  transform: translateY(0.6rem);
  color: #0f1234;
}

.price {
  font-size: 3.6rem;
  font-weight: 900;
  color: #0f1234;
}

.per {
  font-weight: 400;
}

.per,
.card-text {
  font-size: 1.4rem;
  color: #515156;
}

.plan-details {
}

/* .plan-ul li::marker {
  
} */
.check-icon {
  font-size: 1.8rem;
  color: #4480f6;
  background-color: #eef4fe;
  border-radius: 50%;
  padding: 0.3rem;
}

.close-icon {
  font-size: 1.8rem;
  color: #444;
  background-color: rgba(220, 220, 220, 0.75);
  border-radius: 50%;
  padding: 0.3rem;
}

li.line-through {
  text-decoration: line-through;
  font-weight: 400 !important;
  opacity: 0.5;
}

.juicy {
  color: #4ace7c;
  background-color: #effaf3;
}

.plan-ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border-top: 1px solid #eef4fe;
  padding-block: 3.2rem;
}

.plan-ul li {
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0f1234;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.plan--btn:link,
.plan--btn:visited,
.plan--btn:active {
  display: inline-block;
  color: #0f1234;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  background-color: transparent;
  padding-block: 1.4rem;
  padding-inline: 3rem;
  border: 2px solid #eef1f6;
  border-radius: 100px;
  transition: all 0.3s;
}

/* **************** */
/* 6-TESTIMONIALS SECTION */
/* **************** */
.testimonials-section {
  /* display: grid;
  justify-content: center;
  grid-template-columns: repeat(4, 1fr); */
}

.testimonial-container {
  position: relative;
  justify-items: center;
}

.testimonial-img {
  /* background: url(/imgs/testimonial-bg-2.jpg);
  background-repeat: no-repeat;
  grid-template-columns: 1.5fr 4fr;
  grid-column: -1/1;
  height: 45rem;
  width: 100%;
  padding: 5rem; */
  z-index: -1;
  position: absolute;
}

.testimonial {
  max-width: 115rem;
  display: grid;
  grid-template-columns: 1.5fr 4fr;
  padding: 9.6rem;
}

.author-rating {
  display: grid;
  gap: 1.2rem;
  justify-items: center;
}

.author-img {
  border-radius: 50%;
  width: 65%;
}

.author-stars {
  width: 30%;
}

.rating {
  font-size: 1.2rem;
  font-weight: 700;
  color: #b9cffb;
}

.testimonial-text {
  font-size: 2rem;
  color: #fff;
  line-height: 1.4;
}

.author-detail {
  display: flex;
  justify-content: space-between;
}

.author-name {
  font-size: 1.8rem;
  font-weight: 500;
  color: #fff;
}

.author-job {
  font-size: 1.4rem;
  font-weight: 500;
  color: #b9cffb;
}

.testimonial-btn {
  color: #fff;
}

/* **************** */
/* 7-SPONSORS SECTION */
/* **************** */
.sponsers-section {
  justify-content: center;
  padding-block-end: 9.6rem;
}

.sponser-box-2 {
  justify-self: center;
  column-gap: 4.8rem;
}

.sponser-img {
  padding: 3.2rem;
  border-radius: 6px;
  box-shadow: 0px 15px 35px 0px rgba(118, 117, 117, 0.18);
}

/* **************** */
/* 8-FOOTER */
/* **************** */
footer {
  background-color: #eef1f6;
}

.footer-content {
  padding-block: 9.6rem;
  border-bottom: 1px solid #e2e5ec;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
}

.footer-logo {
  width: 25%;
}

.footer-description {
  color: #444;
  font-size: 1.6rem;
}

.social-logos {
}

.social-logo {
  font-size: 2rem;
  color: #0e1133;
  border-radius: 0.3rem;
  padding: 0.5rem;
  background-color: #fff;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 600;
  color: #0e1133;
  margin-block-end: 1.2rem;
}

.footer-text {
  display: flex;
  /* align-items: center; */
  gap: 1rem;
  font-size: 1.4rem;
  font-weight: 500;
  color: #444;
  cursor: pointer;
}

.contacts {
  line-height: 1.6;
  font-style: normal;
}

.contacts p {
  color: #444;
  font-weight: 400;
  margin-block-end: 1.2rem;
  cursor: auto;
}

.contacts p:last-child {
  margin: 0;
}

.contact-icon {
  font-size: 2rem;
  color: #2f75fa;
  /* transform: scaleX(-1); */
}

.company,
.support,
.contact {
  gap: 1rem;
}

.footer-bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block-start: 4rem;
  padding-block-end: 4rem;
}

.copyright-text {
  font-size: 1.4rem;
  color: #444;
}

.f-more--btn {
  color: #0e1133;
}

/* Footer Download Buttons */
.footer-btn {
  display: flex;
  gap: 1.2rem;
  padding-block: 1rem;
  padding-inline: 1.8rem;
  border-radius: 6px;
  border: 2px solid #0e1133;
}

.f-download-icon {
  font-size: 1.8rem;
}

.f-ios-btn {
  border: 2px solid #fff;
  background-color: #fff;
}

.f-android-btn {
  background-color: transparent;
  border: 2px solid #e2e5ec;
}

.f-download-btn-text {
  font-size: 1.4rem;
}
