/* ************** */
/* HEADER */
/* ************** */
.header {
  background-color: #eef1f6;
  padding-inline: 2.2rem;
}

.header-container {
  max-width: 130rem;
  display: flex;
  align-items: center;
  padding-block-start: 4.4rem;
  padding-block-end: 12.8rem;
  margin: auto;
}

.header-logo {
  margin-inline-end: 8rem;
}

.header-nav {
  display: flex;
  gap: 3.2rem;
  margin-inline-end: auto;
}

.nav-icon {
  margin-inline-start: 1.2rem;
  font-size: 1.2rem;
}

.header-nav li {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: 1.6rem;
  font-weight: 500;
  color: #0e1133;
  cursor: pointer;
}

.cta-btn:link,
.cta-btn:visited,
.cta-btn:hover,
.cta-btn:active {
  display: block;
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  background-color: #ff3e66;
  padding-block: 1.6rem;
  padding-inline: 3.2rem;
  border-radius: 100px;
}

/* ************** */
/* 1-HERO SECTION */
/* ************** */
.hero-section {
  background-color: #eef1f6;
  padding-inline: 2.2rem;
}

.hero-text-cell {
  padding-block: 8.4rem;
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.hero-heading {
  font-size: 6.2rem;
  font-weight: 400;
  color: #0e1133;
}

.hero-text {
  color: #0e1133;
  font-size: 1.6rem;
}

.hero-img {
  align-self: end;
  max-width: 100%;
}

.cta {
  display: flex;
  align-items: center;
  border-left: 2px solid #ff3e66;
  border-radius: 100px;
  padding: 2rem;
  background-color: white;
  max-width: 60%;
  box-shadow: 0px 3px 20px 0px rgba(28, 28, 28, 0.3);
}

.cta-input {
  font-family: "Roboto", sans-serif;
  min-width: 80%;
  border: none;
  margin-inline: 2rem auto;
}

.cta-input:focus {
  outline: none;
}

.cta-mail-icon {
  color: #888;
  width: 1.8rem;
  height: 1.8rem;
}

.cta-arrow-icon {
  color: #ff3e66;
  width: 1.8rem;
  height: 1.8rem;
  cursor: pointer;
}

/* FEEDBACK PART */
.feedback {
  display: flex;
  align-items: center;
}

.feedback-faces {
}

.feedback-face {
  border-radius: 100%;
  border: 0.3rem solid #fff;
  width: 4.8rem;
  margin-inline-end: -1.8rem;
}

.feedback-face:last-child {
  margin-inline-end: 2.4rem;
}

.feedback-info {
  display: flex;
  flex-direction: column;
}

.feedback-number {
  font-size: 2.4rem;
  color: #0e1133;
}

.feedback-text {
  font-size: 1.2rem;
  color: #333;
}

/* ************** */
/* 2-features SECTION  */
/* ************** */
.features-section {
  /* background-color: #bdd2f5; */
  padding-block: 9.6rem;
  padding-inline: 2.2rem;
}

.subheading-container {
  justify-content: space-between;
  align-items: baseline;
}

.view-all--btn:link,
.view-all--btn:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #222;
  font-weight: 500;
  border: 3px solid #eef1f6;
  border-radius: 100px;
  padding-block: 1.2rem;
  padding-inline: 2.2rem;
}

.feature-gap {
  gap: 3.2rem;
}

.feature {
  padding: 4.8rem;
  border: 1px solid #eef1f6;
  border-radius: 9px;
  /* background-color: gray; */
}

.feature-icon {
  color: #fff;
  width: 2.4rem;
  height: 2.4rem;
  margin-block-end: 2.4rem;
  padding: 1.4rem;
  border-radius: 50%;
}

.feature-heading {
  font-size: 1.6rem;
  font-weight: 700;
  /* margin-bottom: 1.2rem; */
}

.feature-text {
  font-size: 1.6rem;
  color: #555;
  margin-block-end: 3.2rem;
}

.more--btn {
  text-decoration: none;
  color: #555;
  font-size: 1.4rem;
  font-weight: 500;
}

.f-icon-1 {
  background-color: #2facfc;
}
.f-icon-2 {
  background-color: #ea4d89;
}
.f-icon-3 {
  background-color: #3679ff;
}
.f-icon-4 {
  background-color: #f67842;
}
.f-icon-5 {
  background-color: #6b88f7;
}
.f-icon-6 {
  background-color: #3bb094;
}

/* markting-card */
.markting-card {
  background-color: #eef1f6;
  padding: 6.4rem;
  max-height: 44rem;
  margin-block-start: 9.6rem;
  border-radius: 9px;
  overflow: hidden;
}

.marketing-img {
  max-width: 100%;
  transform: translateY(-7rem);
}

.marketing-text-box {
}

.heading-before {
  font-size: 1.6rem;
  color: #ff3e66;
  font-weight: 500;
  /* margin-bottom: 1.2rem; */
}

.marketing-check {
  /* BOTH WAYS ARE WORKING */
  /* This is a way */
  /* display: grid;
  grid-template-columns: 0fr 1fr;
  column-gap: 2rem; */

  /* And This is another way */
  display: flex;
  gap: 2rem;
}

.checkmark-icon {
  width: 2.4rem;
  height: 2.4rem;
  padding: 0.2rem;
  color: #eef1f6;
  background-color: #30c269;
  /* margin-right: 2rem; */
  border-radius: 50%;
}

.marketing-check-heading {
  color: #0e1133;
  font-size: 2.2rem;
  font-weight: 500;
  /* margin-bottom: 1.2rem; */
}

.marketing-check-text {
  font-size: 1.6rem;
  font-weight: 400;
  color: #333;
  line-height: 1.5;
  /* margin-bottom: 1.2rem; */
}

/* **************** */
/* 3-SECTION FOR MORE FEATURES  */
/* **************** */
.more-features-section {
  background-color: #0e1133;
  padding-block: 8rem;
}

.features-heading-box {
  text-align: center;
  margin-block-end: 8rem;
}

.features-heading {
  font-size: 3.6rem;
  font-weight: 900;
  color: #fff;
}

.features-subheading {
  font-size: 1.6rem;
  color: #fff;
}

.feature-text {
  color: #9294a3;
  font-size: 1.4rem;
  font-weight: 500;
  margin-block-end: 0;
}

.features-container {
  align-items: center;
  justify-content: center;
}

.feature-box {
  gap: 1.1rem;
  border: 1px solid #202234;
  border-radius: 9px;
  padding-block: 2.4rem;
  padding-inline: 3.6rem;
}

.mr-feature-icon-1 {
  color: #ff3e66;
  border: 5px solid #2a182d;
  border-radius: 50%;
}

.mr-feature-icon-2 {
  color: #2eacfc;
  border: 5px solid #15233d;
  border-radius: 50%;
}

.mr-feature-icon-3 {
  color: #33c956;
  border: 5px solid #15262c;
  border-radius: 50%;
}

.mr-feature-heading {
  color: #fff;
  font-size: 2.2rem;
  font-weight: 700;
}

.features-img {
  max-width: 80%;
}
